<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <?include $(sys.CURRENTDIR)\Variables.wxi?>

	<Product Id="*" 
	         Name="$(var.ProductNameWithPlatform)"
	         Language="1033"
	         Version="$(var.BuildVersion)"
	         Manufacturer="$(var.Manufacturer)"
	         UpgradeCode="$(var.UpgradeCode)">
		
	  <Package
	    InstallerVersion="200"
	    Compressed="yes"
	    InstallScope="perMachine"
	    Platform="$(var.Platform)"
	    Manufacturer="$(var.Manufacturer)"
	    />

		<MajorUpgrade AllowDowngrades="yes"/>
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="INSTALLFOLDER" Name="$(var.ProductFolderName)" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="CG_RemoteAssistant.API"/>
		</ComponentGroup>
	</Fragment>
</Wix>
